/* Sass maps can be iterated, just like JavaScript objects and arrays. They are iterated over using the built-in function map-get(). 
   Each map has properties and values. In the example below, our $colors variable holds a map of palette types. Each of those maps holds key-value pairs of a color tone and the color value */
/* this function will get a color value for us when called. Just like in JS, our function has a name (color, in this case) and can take parameters. 

/* it has three parameters:

$type (a  string value): this will a category such as `primary`, 'accent', 'white', etc. If no value is provided, the default will be 'primary'

$tone (a string value): this will be, you guessed it, the tone of the color. 'light', 'medium', 'dark', etc. If no value is provided, the default will be 'base'

$opacity (a number value between 0 and 1): this will set the alpha transparency of the color and convert it from a hex value to an rgba value, but only if the value is less than 1. The default value is 1, so unless you want a somewhat transparent color, this value can be omitted when calling the function

**NOTE** If you provide a value for opacity or tone, you MUST provide a value for all values before it. For example, you cannot just provide a value for opacity, you would have to do all three. If tou want to provide a tone, you must also provide a type.
*/
body {
  /* this will be the black base color */
  /* this will be the dark tone of the secondary set of colors, set to an opacity of 90% */
  background-color: #fffefc; }
  body h1 {
    max-width: 30rem;
    margin: 2rem auto;
    font-size: 20vmin;
    line-height: 20vh;
    text-align: center;
    box-shadow: 0 0.5em 0 #03a9f4, 0 1em 0 #e1f5fe, 0 1.5em 0 #ffab91, 0 2em 0 #ff5722; }
  body:hover {
    color: blue; }
  body::before {
    content: ''; }
